/*
    This kinda thing should be in a normalise file anyway - but if not, throw it in somewhere.
*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
    Rough first-go...

    This whole thing is inspired by Foundation from Zurb, but with more breakpoints and the ability to have multiple grids (differing column counts)
*/
@import "settings";
@import "mixins";

@import "components/breakpoints";
@import "components/grid";
@import "components/visibility";




/*
    With the mixins, you can use the grid-column() mixin to get the width of the item, along with the breakpoint() mixin this gives you full control to add grid functionality to your own classes.
*/
.my-awesome-thing {
    @include breakpoint('small') {
        @include grid-column(1, 5); // inside this MQ it's equivalent to .small-1-of-5
    }
    @include breakpoint('medium') {
        @include grid-column(2, 12);
    }
    @include breakpoint('large') {
        @include grid-column(2, 12, false); // doesn't add the grid-gutters
    }
}

